
@{
    ViewBag.Title = "Zone Admin";
}

<h2>Bienvenue dans la partie admin</h2>
<p>@Html.ActionLink("Gérer les commandes", "Index", "AdminCommande")</p>
<p>@Html.ActionLink("Gérer les articles", "Index", "AdminArticle")</p>
<p>@Html.ActionLink("Data table client", "DataTableClient", "Admin")</p>

